.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 80vh;
}
.Header {
  /* flex-grow: 2; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.Header-Title {
  font-style: normal;
  font-weight: 500;
  font-size: 8vmin;
  line-height: 8.8vmin;
  text-align: center;
  letter-spacing: 0.02vmin;
  width: 70vmin;

  word-wrap: break-word;
}
.Header-content {
  padding-top: 1vmin;
  font-style: normal;
  font-weight: normal;
  font-size: 2vmin;
  line-height: 3vmin;
  word-wrap: break-word;
  width: 40vw;
  text-align: center;
  letter-spacing: 0.02vmin;
}
.Home-Btns {
  display: flex;
  width: 30vmax;
  justify-content: space-between;
}
.Home-Image-Container {
  position: relative;
  margin-top: 10%;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0e0e0e 66.15%);
}
.Home-Image-Gradient {
  width: 100vw;
  height: 50vh;
  position: absolute;
  bottom: 0%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0e0e0e 66.15%);
}

.Home-Image1 {
  position: absolute;
  width: 55vmin;
  height: 45vmin;
  top: 0;
  left: 35%;
  background: url("../../Assets/Dashboard1.png");
  background-size: 100%;
  transform: matrix(0.71, -0.54, 0.93, 0.71, 0, 0);
}
.Home-Image2 {
  position: absolute;
  width: 55vmin;
  height: 45vmin;
  top: 0;
  left: -110%;
  background: url("../../Assets/Boards.png");
  background-size: 100%;
}
.Home-Image3 {
  position: absolute;
  width: 55vmin;
  height: 45vmin;

  top: 110%;

  background: url("../../Assets/ChatBot.png");
  background-size: 100%;
}

@media (width < 1068px) {
  .Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 60vh;
  }
  .Home-Btns {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .Home-Image1 {
    position: absolute;
    width: 35vmin;
    height: 25vmin;
  }
  .Home-Image2 {
    width: 35vmin;
    height: 25vmin;
    top: 0;
    left: -110%;
  }
  .Home-Image3 {
    width: 35vmin;
    height: 25vmin;

    top: 110%;
  }
  .Home-Image-Container {
    position: relative;
    margin-top: 10%;
    min-height: 60vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0e0e0e 66.15%);
  }
}
